[project]
name = "synthetic-pdf"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "faker>=37.4.0",
    "playwright==1.52.0",
    "pydantic>=2.11.7",
    "pypdf>=5.6.0",
    "pyyaml>=6.0.0",
]
